.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/md_data
scripts/negbin
scripts/mdsine2
packages/
scripts/.ipynb_checkpoints
mdsine/inst/MDSINE2/build/
mdsine/inst/MDSINE2/mdsine2.egg-info
*DS_Store*
*.rda
data
*.Rproj
*.tar.gz
*buildignore
*.png
*cache*